@model HomeIndexViewModel

@{ 
    ViewData["Title"] = "All Categories";
}

<div class="jumbotron home-jumbotron">
    <h1 class="text-center">Wellcome to our store!</h1>
</div>

<div class="row">
    @await Html.PartialAsync("_CategoryListingsPartial",Model.Categories)
</div>